
<h1>User info</h1>

<%= render 'layouts/error_message', model: @user %>

<%= form_for(@user) do |f| %>
	<div class="field sign_up_margin">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field sign_up_margin">
		<%= f.label :image %>
		<%= f.attachment_field :profile_image %>
	</div>

	<div class="field sign_up_margin">
		<%= f.label :introduction %>
		<%= f.text_area :introduction %>
	</div>

	<div class="field sign_up_margin">
		<%= f.submit "Update User" %>
	</div>
<% end %>

