<h1>My Page</h1>

<!-- 試用のために仮設置中 -->
<%= link_to "Log out", destroy_user_session_path, method: :delete %>

<%= form_for(@user) do |f| %>
	<div class="leftside">
		<h1>User info</h1>
		<span>picture</span>
		<p>name</p>
		<%= @user.name %>
		<p>introduction</p>
		<%= @user.introduction %>
		<%= link_to "edit menu", edit_user_path(@user.id) %>
		<h1>New book</h1>
<% end %>

<% @users.each do |user| %>
	<%= user.name %>
	<!-- あとで修正 -->
	<%= link_to "show", user_path %>
<% end %>