
	<div class="col-xs-3">

		<%= flash[:notice] %>

		<%= form_for(user) do |f| %>
				<h2>User info</h2>
				<%= attachment_image_tag user, :profile_image, :fill, 100,100, fallback: "no_image.jpg" %>
				<table class="table">
					<thead>
						<tr>
							<th>name</th>
							<th><%= user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= user.introduction %></th>
						</tr>
					</thead>
				</table>
				<div class="row">
				<%= link_to(edit_user_path(user.id)) do %>
					<button type="button" class="col-xs-12 btn btn-default btn-md"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
				<% end %>
			</div>
		<% end %>

		<h2>New book</h2>
			<%= form_for(book, url: books_path, html: { method: 'post' }) do |f| %>
				<div class="row form-group">
					<%= f.label :Title %><br>
						<%= f.text_field :title, class: "col-xs-12 form-controll", value: "" %>
				</div>
				<div class="row form-group">
					<%= f.label :Opinion %><br>
					<%= f.text_area :body, class: "col-xs-12 form-controll", value: "" %>
				</div>
				<div class="row form-group">
					<%= f.submit "Create Book", class: "col-xs-12 btn btn-primary" %>
				</div>
			<% end %>
	</div>