<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Bookers</h1>
    <% if user_signed_in? %>
      <%= link_to "Home", user_path(@user.id) %>
      <%= link_to "Users", users_path %>
      <%= link_to "Books", user_path(@user.id) %>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Home", "/" %>
      <%= link_to "about", home_about_path %>
      <%= link_to "sign up", new_user_registration_path %>
      <%= link_to "login", new_user_session_path %>
    <% end %>
  </header><!-- /header -->

  <body>
    <%= yield %>
  </body>
<footer>
  <p>CopyRight Infratop.inc</p>
</footer>
</html>
